.about-me-container {
    background-color: rgb(128, 187, 41);
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    position: relative;
    top: 340px;
    padding: 30px;
}