.about-me-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    position: relative;
    top: 220px;
    /* width: 98%; */
    background-color: rgb(128, 187, 41);
    border: #082a3a dashed 3px;
    border-radius: 40px;
    align-items: center;
    bottom: 0%;

}

.about-me-links {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.person {
    width: 180px;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 21px;
    color: beige;
}