
/* .album{
    position: relative;
} */
.albumContainer{
    
    /* height: 2em;
    width: 2em; */
    position:relative;
    height: 100%;
    display: flex;
}
#albumTitle{
    color: #83bbe1;
    align-content: center;
}
.albumContainer ul{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    right: 2%;
}

.albumPicture{
    height: 45vh;
    width: 23vw;
    border:#082a3a dashed 2px; 
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#pic1{
    height: 90%;
    width: 90%;

}


