

h1 {
    display: flex;
    justify-content: center;
    color: rgb(241, 117, 95);
    font-size: 50px;
    font-style: italic;
    font-family: Geneva, Tahoma, sans-serif;
    position: relative;
    transform: translate(0,-100%);
    z-index: -1;
    
}
#address-details-container {
    /* position: relative;
    top: 144px;
    left: 30px;
    margin: 20px;
    font-size: 20px;
    color: rgb(240, 33, 240);
    display: flex;
    flex-direction: column;
    justify-content: space-around; */
    display: flex;
    justify-content: center;
    position: relative;
    top: 60px;
    font-size: 22px;
    color: rgb(199, 40, 12);
    right:5%
}

#address-name {
    color: rgb(199, 40, 12);
    position: relative;
    left: 120px;
}

#address-details {
    color: rgb(199, 40, 12);
    position: relative;
    left: 120px;

}
#container{
    position: relative;
}