h1 {
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-style: italic;
    font-family: Geneva, Tahoma, sans-serif;
    position: relative;
    bottom: 130px;
    z-index: 0;
}

.fun-finder-title {
    color: rgb(241, 117, 95);
    width: 500px;
    position: relative;
    left: 210px;
}




#address-details-container {
    /* position: relative;
    top: 144px;
    left: 30px;
    margin: 20px;
    font-size: 20px;
    color: rgb(240, 33, 240);
    display: flex;
    flex-direction: column;
    justify-content: space-around; */
    display: flex;
    justify-content: center;
    position: relative;
    top: 120px;
    font-size: 22px;
    color: rgb(199, 40, 12);
}

#address-name {
    color: rgb(199, 40, 12);
    position: relative;
    left: 120px;
}

#address-details {
    color: rgb(199, 40, 12);
    position: relative;
    left: 120px;

}

#container {
    position: relative;
}