.container {
    display: flex;
    height: 100px;
    width: 20%;
}

.category-button {
    margin: 10px;
}

.controls input {
    border: none;
}


.map-container {
    width: 100%;
    height: 10px;
}

.map {
    width: 80%;
    height: 100px;
}

.map-container {
    position: relative;
    height: 350px;
    left: 150px;
    bottom: 120px;
}

.map-random-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 50px;
}

.search-container {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
}

.category-button {
    border: none;
    background-color: orangered;
    color: white;
    margin: 20px;

}

.category-button:hover {
    background-color: rgb(133, 7, 7);
    cursor: pointer;
}

#find-place-button {
    height: 20px;
    font-size: 18px;
    background-color: rgb(70, 196, 228)
}

#personality-question {
    color: rgb(8, 8, 8);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}