.logo{
    height: 7em;
    width: 7em;
}
.nav_header{
    
    display: inline-flex;
}
.container{
   display: inline-flex;
   width: 1000px;
   
}
#logged_out {
    
    display:flex;
   width: 100%;
    left: 100%;
    flex-direction: column;
    align-items: end;
    font-size: larger;
}

.nav_header{
    position: relative;
}