.logo {
    height: 7em;
    width: 7em;
}

.nav_header {

    display: inline-flex;
}

.container {
    display: inline-flex;
    width: 100%;

}

#logged_out {

    display: flex;
    width: 100%;
    /* left: 100%; */
    flex-direction: column;
    align-items: end;
    font-size: larger;
}

.nav_header {
    position: relative;
}

#sessionlinks {
    position: relative;
    right: -300px;
    top: 30px;
}

.loginNavContainer {
    position: relative;
    width: 80vw;
    display: flex;
    justify-content: space-between;

}

.seslinks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoutButton {
    width: 15vw;
    padding: 3px;
    margin-top: 5px;
    border-radius: 10px;
    border: #082a3a dashed 2px;
    background-color: #c4c459;

}