.logo {
    height: 5em;
    width: 5em;
    position: relative;
    left: 8px;
    top: 8px;
    z-index: 2;
}
/* #navTitle {
    color: rgb(241, 117, 95);
    font-size: 40px;
    font-style: italic;
    font-family: Geneva, Tahoma, sans-serif;
    margin: 0;
    
}
#navSubTitle{
    color: #082a3a;;
    margin: 0;
    font-size: 20px;
    font-style: italic;
    font-family: Geneva, Tahoma, sans-serif;
    transform: translateX(10%);
} */

.nav_header {
    /* width: 90%; */
    width: 100%;
    display: inline-flex;
}

.container {
    display: inline-flex;
    width: 100%;

}


#logged_out {
    display: flex;
    /* width: 100%; */
    /* left: 100%; */
    flex-direction: column;
    align-items: end;
    font-size: larger;
    position: relative;
    top: 20px;
    right: 40px;
}

.nav_header {
    position: relative;
}

#sessionlinks {
    /* position: relative;
    right: -300px;
    top: 30px; */
    color: rgb(173, 120, 77);
    border-radius: 5px;
    height: 25px;
    text-decoration: none;
}

.header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.loginNavContainer {
    position: relative;
    width: 80%;
    display: flex;
    justify-content: space-around;

}

.seslinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    right: 35px;
    top: 20px;
}
/* .profileLink  {
    background-color:#83BBE1;
    border-radius:16px;
    border:#082a3a dashed 2px;
    display:inline-block;
    cursor:pointer;
    color:#082a3a;
    font-family:Arial;
    font-size:14px;
    padding:5px 30px;
    text-decoration:none;
    
    }

.profileLink:active {
    position:relative;
    top:1px;
    
} */
#profileLink{
    background-color:#83BBE1;
}

.buttons  {
    
    border-radius:16px;
    border:#082a3a dashed 2px;
    display:inline-block;
    cursor:pointer;
    color:#082a3a;
    font-family:Arial;
    font-size:14px;
    padding:5px 30px;
    text-decoration:none;
    
    
    }

.buttons:active {
    position:relative;
    top:1px;
    
}

#logoutButton {
    background-color:#c4c459;
    margin-top: 5px;
    font-size:13px;
    
    
}

