.tabsHeader{
  display: flex;
  list-style-type: none;
  height: 30px;
  width: 95%;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  border-bottom: #082a3a solid;
  border-top:#082a3a solid;
  background-color: transparent;
  opacity: 50%;
}

.tabsHeader:hover{
    
    opacity: 100%;
  }

.tabsHeader > li{
    width: 100px;
    padding-top: 4px;
    text-align: center;
    cursor: pointer;
    justify-content: center;
    background-color: transparent;
    padding:0;
    margin:0;
  }
  .tabsHeader > li:hover{
    width: 100px;
    height: 25px;
    color: #e46905;
    padding-top: 4px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    
    
  }
  
  .tabsHeader > li:focus{
  
    background-color: #1f6cab;  
  
  }
  
  
  ul{
    list-style-type: none;
  }

  .profilecontainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    position: relative;
    height: 100%;
    }
    
    
    .profilesection { grid-area: 1 / 2 / 6 / 6; }
    .profilepicture  { grid-area: 1 / 1 / 6 / 2; 
      display: flex;
    height: 100%;
    };
    
    #label{
      background-color: red;
    }

    #profilepic{
      padding: 15px;
      width: 50%;
      height: 25%;
      transform: translate(15%,10%);
      border: dashed ;
      border-radius: 10px;

      justify-content: space-around;
    }
    #ptext {
      transform: translate(16%, 60%);
      font-size: large;
      font-family: monospace;
      color: #e46905;
      font-weight: bold;
    }
