.form-container{
    
    position: relative;
    display: flex;
    align-items: center;
    
}

.modal-input-container {
    position: relative;
    width: 250px;
    height: 40px;
    line-height: 40px;
  }
  .modal-label {
    position: absolute;
    left: 5px;
    color: #d3d3d3;
    transition: .6s all;
    cursor: text;
  }
  .modal-input {
    width: 75%;
    border-radius: 10px;
    outline: 0;
    padding: .5em;
    border: 2px solid #082a3a;
    box-shadow: none;
    color: #e46905;
  
  }
  
  .modal-input:focus,
  .modal-input:valid {
    border-color: #1f6cab;
    
  }
  .modal-input:focus~.modal-label,
  .modal-input:valid~.modal-label {
    font-size: 14px;
    top: -22px;
    color: #e46905;
    padding: 0;
    transition: .6s;
    
  }

  .sessionbutton{
    padding: 5px;
    margin: 5px;
    margin-top: 0;
    margin-bottom: 0;
    height: 30px;
   
    border: solid #fff2e2;
    font-size: 9px;
    font-weight: 50;
    cursor: pointer;
    color: #fff2e2;
    /* border-radius: 7px; */
    background: #e46905;
    transition: all 0.2s ease;
    width: 70%;
    
 
  }
  .sessionbutton:hover{
    outline: 3px solid #e46905;
    outline-offset: .3rem;

  }

  .overlay{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 30px;
    height: 100%;
    width: 40%;
    background-color: #fff2e2;
    border: solid 5px #e46905;
    border-radius: 10%;
    z-index: 1000;
    
  }
  #right{
  
	transform: translateX(-50%);
	transition: transform 2.5s ease;
  
  background-color: #fff2e2;
  color: #c4c459;
  
  }
  #left{
    
    transform: translateX(50%);
    transition: transform 2.5s ease;
    background-color: #fff2e2;
    color:#1f6cab;
  
  }
 
#login{
  background: #1f6cab;
  margin-top: 0;
 
}

#login:hover{
  outline: 3px solid #1f6cab;
  outline-offset: .3rem;
}
.logintitle{
  color: #1f6cab;
  font-family: sans-serif cursive;
  font-size: 2em;
}

.signuptitle{
  color: #c4c459;
  font-family: sans-serif cursive;
  font-size: 2em;
}

#signup{
  background: #c4c459;
  margin-top: 10px;
}

#signup:hover{
  outline: 3px solid #c4c459;
  outline-offset: .3rem;
}

.sessionscontainer{
  position: relative;
  margin:0;
  padding:0;
  display:flex;
  align-items: center;
  justify-content: space-around;
  border: #082a3a dashed 5px;
  border-radius: 10%;

  width: 60vw;
  transform: translate(30%);
}

.seslogo{
  height:200px;
  width:200px;
  }

  .signupform{
    transform: translateY(-5%)
  }
#demo{
  transform: translateY(30%);
}



  
